
<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <p>Enter the first box some integers up to 10.Second box add some integers too,also the number of integer is that is in the second box is limitless</p>
  <p>Enter the third box only one integer which you want to search both two integer lists(in first box and second box).</p>
  <p>In the fourth box,you have to give either true or false.If you enter true,program will search the value within two integer list and append the value into the list/lists<br>
  which does not have the value.<p>
  <p>Computation result will be true or false.true means that integer lists both have the value.false means that at least one of the list does not contain the value</p>

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

